<p id="notice"><%= notice %></p>


<h1>  <strong>Question:</strong></h1>
    <%= @question.title %>
<h3>  <strong>Description:</strong></h3>
    <%= @question.body %>

<h3>  <strong>Answers:</strong></h3>
<p>
  <% unless @answers.empty? %>
    <% @answers.each do |answer| %>
      <%= answer.body %>
    <% end %>
  <% end %>
</p>
<%= render './answers/form' %>

<%= link_to 'Edit Question', edit_question_path %>
<%= link_to 'Back', questions_path %>
